/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color:black;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

header {
  width: 100%;
  margin-bottom: 50px;
  /* border: solid 2px; */
  padding-top: 18px;
}

nav {
  margin: 10px 0;
}

.navigation {
  text-align: center;
}

li {
  list-style-type: none;
  display: inline;
  margin: 0 40px;
}

.navigation li a {
  font-size: 18px;
}

.main-container {
  width: 80%;
  margin: 0 auto;
  /* border: solid 1px red; */
}

.section-about-me {
  /* border: solid 2px green; */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card1 {
  /* border: solid 2px orange; */
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.card-title {
  /* border: solid 2px palegreen; */
  width: 70%;
  height: 100px;
  text-align: center;
}

.card-text {
  text-align: start;
  margin-top: 10px;
}

.image {
  /* border: solid 2px olive; */
  width: 30%;

}

.card-image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  border: solid 4px;
  margin: 0 auto;
}

.card2 {
  /* border: solid 2px purple; */
  display: flex;
  justify-content: flex-start;
  height: 100%;
  margin-top: 30px;
}

.about-me {
  /* border: solid 2px royalblue; */
  width: 50%;
  height: 150px;
}

.my-contacts {
  /* border: solid 2px hotpink; */
  width: 50%;
  height: 150px;
}

.section-my-education {
  /* border: solid 2px orchid; */
  display: flex;
  justify-content: flex-start;
  height: 100%;
  margin-top: 50px;
}

.education {
  /* border: solid 2px blueviolet; */
  width: 50%;
  height: 100px;
}

.languages {
  /* border: solid 2px black; */
  width: 50%;
  height: 100px;
}

.section-my-skills {
  /* border: solid 2px maroon; */
  margin-top: 50px;
}

.tech-skills {
  /* border: solid 2px maroon; */
}

.section-my-experience {
  /* border: solid 2px darkcyan; */
}

.experience {
  /* border: solid 2px maroon; */
  margin-top: 50px;
  text-align: center;
}

.project-1 {
  text-align: left;
  font-size: 20px;
}

.project-1 a {
}

.section-my-code-example {
  /* border: solid 2px rosybrown; */
  margin-top: 50px;
}

.code-example {
  /* border: solid 2px violet; */
}

.example {
  /* border: solid 2px violet; */
  width: 90%;
  margin: 10px auto 0;
  padding: 10px;
  text-align: left;
  background-color: rgb(229, 224, 224);
  border-radius: 15px;
}

footer {
  /* height: 100px; */
  width: 100%;
  /* border: solid 1px green; */
  margin-top: 50px;
}

.course {
  /* border: solid 2px darkcyan; */
  display: flex;
  height: 100%;
  text-align: center;
}

.logo-rs-school {
  /* border: solid 2px darkcyan; */
  /* display: flex;
  justify-content: flex-start; */
  width: 35%;
  height: 100px;
}

.rsschool {
  padding-top: 15px;
  padding-left: 20%;
}

.year-of-creation {
  /* border: solid 2px darkcyan; */
  /* display: flex; */
  /* justify-content: flex-start; */
  width: 35%;
  height: 100px;
  font-size: 20px;
  text-align: center;
}

.year {
  padding-top: 30px;
}

.my-github {
  /* border: solid 2px darkcyan; */
  /* display: flex;
  justify-content: flex-start; */
  width: 35%;
  height: 100px;
}

.github-akk {
  padding-left: 45%;
  padding-top: 20px;
}